// Variables de colores
$primary-color: #007bff;
$primary-hover-color: #0056b3;
$secondary-color: #333;
$accent-color: #ae2f42;
$border-color: #ccc;
$white-color: #fff;
$background-overlay: rgba(0, 0, 0, 0.6);

// Tipografía
$font-family: garamond, sans-serif;